body {
  font-family: "Arial", sans-serif;
  background-color: #0d1117;
  color: #ffffff;
}

a {
  color: #ffe15d;
  font-weight: 700;
}

h1,
h2,
h3 {
  color: #00fff6;
  font-weight: 600;
}

a {
  color: #ffe15d;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption {
  font-size: 14px;
  color: #808080;
}

.languages-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tools-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
